@model IEnumerable<ClassLibrary.Models.Manifest>
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Identity.UserManager<Member> UserManager

@{
    ViewData["Title"] = "My Scheduled Trips";
}

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user!);
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/myTrips.css" />
}

<h1>My Trips</h1>
@if (roles.Contains("Owner"))
{
    <a class="btn btn-primary" href="/Trips/Create">Create</a>
}
<br />
<br />
<table class="table">
    <thead>
        <tr>
            @if (roles.Contains("Owner"))
            {
                <th>
                    Driving
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Trip!.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip!.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip!.DestinationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip!.MeetingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip!.Vehicle)
            </th>
            <th>Passengers</th>
            <th>
                Actions | Rating
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            @if (roles.Contains("Owner"))
            {
                <th>
                    @if (user!.Id == item!.Trip!.Vehicle!.MemberId)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                </th>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Trip!.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip!.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip!.DestinationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip!.MeetingAddress)
            </td>
            <td>
                @item.Trip!.Vehicle
            </td>
            <td>
                @item.Trip?.Manifests?.Count / @item.Trip!.Vehicle?.NumberOfSeats
            </td>
            <td>
                @if (item.Trip!.Date > DateOnly.FromDateTime(DateTime.Now))
                {
                    @if (roles.Contains("Owner"))
                    {
                        <a class="btn btn-primary" href="/Trips/Edit/@item.TripId/@item.Trip.VehicleId">Edit</a>
                        <a class="btn btn-primary" href="/Trips/Details/@item.TripId">Details</a>
                        <a class="btn btn-danger" href="/Trips/Delete/@item.TripId/@item.Trip.VehicleId">Delete</a>
                    }
                    else
                    {
                        <form method="post" asp-action="CancelTrip" asp-controller="Home">
                            <input type="hidden" name="manifestId" value="@item.ManifestId" />
                            <input type="submit" class="btn btn-warning" value="Cancel Trip" />
                        </form>
                    }
                } else if (item.Rating != null)
                {
                    <div>
                        @for (int i = 1; i <= 5; i++) {
                            <span 
                                class="star-rating-icon @((i <= item.Rating) ? "fas" : "far") fa-star"
                                style="color: @((i <= item.Rating) ? "gold" : ""); cursor: default;"
                            >
                            </span>
                        }
                    </div>
                } else
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ratingModal-@item.ManifestId">
                        Rate Trip
                    </button>
                }
            </td>
        </tr>
}
    </tbody>
</table>

@foreach (var item in Model) {
    <div class="modal fade" id="ratingModal-@item.ManifestId" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel-@item.ManifestId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ratingModalLabel-@item.ManifestId">Rate Trip</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="MyTrips" asp-controller="Trips">
                        <input type="hidden" name="manifestId" value="@item.ManifestId" />
                        <!-- Star rating input -->
                        <div class="star-rating">
                            @for (int i = 5; i >= 1; i--) {
                                <input id="star-@i-@item.ManifestId" name="rating" type="radio" value="@i" class="star-rating-input"/>
                                <label for="star-@i-@item.ManifestId" class="star-rating-icon fas fa-star"></label>
                            }
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit Rating" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}

