@using ClassLibrary.Models
@model IEnumerable<Trip>

@if (Model.Count() == 0)
{
    <p>No trips found</p>
    return;
}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Destination Address</th>
            <th>Meeting Address</th>
            <th>Vehicle ID</th>
            <th>Vehicle</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var trip in Model)
    {
        <tr>
            <td>@trip.Date</td>
            <td>@trip.Time</td>
            <td>@trip.DestinationAddress</td>
            <td>@trip.MeetingAddress</td>
            <td>@trip.VehicleId</td>
            <td>@trip.Vehicle?.Make @trip.Vehicle?.Model</td>
            <td>
                <form method="post" asp-action="JoinTrip" asp-controller="Home">
                                <input type="hidden" name="tripId" value="@trip.TripId" />
                                <input type="submit" class="btn btn-primary" value="Join Trip" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>