@model IEnumerable<ClassLibrary.Models.Vehicle>

@{
    ViewData["Title"] = "My Vehicles";
}

<h1>My Vehicles</h1>
<br />
<a class="btn btn-primary" href="Vehicles/Create">Create</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Vehicles" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-controller="Vehicles" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-controller="Vehicles" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
